@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Comfortaa:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.btn-theame {
  background: #457355;
  color: #fff;
  padding: 18px 75px 18px 50px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  display: inline-block;
  position: relative;
  margin-top: 24px;
  min-width: 200px;
  transition: all 0.3s ease;
  border: 1px solid #457355;
  cursor: pointer;
}

.btn-theame:hover {
  color: #457355;
  background: #fff;
  border: 1px solid #457355;
}
